{:aliases {:default {:override-deps {org.clojure/clojurescript {:git/url "https://github.com/solidfox/clojurescript.git"
                                                                :sha     "b05e97788d90d6f34becc3e43cf6f66feaa5e7ca"}}}}
 :deps {com.bhauman/figwheel-main {:mvn/version "0.2.12"}}
 :paths ["src" "resources" "target"]}